<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:replace="fragments :: header"></div>
<body>
<div th:replace="fragments :: head"></div>

	<form class="form-inline mt-2 mt-md-0" method="GET" action="/search">
		<input class="form-control mr-sm-2" type="text" name="name"
			placeholder="Search"></input>
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	</form>

	<tr th:each="user : ${user}">
		<h1 align="center">
			<td th:text="${user} + '\'s photos'">Onions</td>
		</h1>
	</tr>
	<div th:each="file : ${files}">
		<div class="gallery">
			<a target="_blank" th:href="${file}"> <img th:src="${file}" />
			</a>
		</div>
	</div>

</body>
</html>